<div class="well well-small" align="center">
	<form class="form-inline">
	  <select class="span2">
	    <option>All Categories</option>
	  	<option>Search and Rescue</option>
	  	<option>Material Requests</option>
	  	<option>Blood Requests</option>
	  	<option>Voluntary Requests</option>
	  </select>
	  <input type="text" class="input-medium" placeholder="Location">
	  <input type="text" class="input-medium" placeholder="Keyword">
	  <button type="submit" class="btn btn-success">Search</button>
	</form>
</div>

<h1>Requests:</h1>
<div>
	<% @nodes.each do |n| %>
        <%= render partial: 'request_item', locals: {n: n}  %>
	<% end %>
</div>
