<div>
	<h2>To send a request please use the following syntax:</h2>
	<h4>#NAME_OF_THE_DISASTER #CATEGORY_NAME #ne WHAT_YOU_NEED #nerede LOCATION_OF_NEED #adet AMOUNT #ekstra EXTRA_INFO</h4>
	<h2 class="text-info">Explanations:</h2>
	
	<h5 class="text-error">NAME_OF_THE_DISASTER</h5>
	This should be the name of the disaster. For example if it's an earthquake in Istanbul then <b>istanbul</b> is enough. <br>
	<b>Example:</b> <b>#istanbul</b> #akut #ne arama kopegi #nerede taksim #adet 2
	
	<h5 class="text-error">CATEGORY_NAME</h5>
	This should be the name of the category. Category can be one of the following: <b>akut, materyal, kan, gonullu, bilgi</b><br>
	<b>Example:</b> #istanbul <b>#materyal</b> #ne cadir #nerede mecidiyekoy #adet 1000 #ekstra cok acil!
	
	<h5 class="text-error">WHAT_YOU_NEED</h5>
	This should be the exactly what you need. It can be anything that you need.<br>
	<b>Example:</b> #istanbul #gonullu #ne <b>hemsire</b> #nerede harbiye #adet 10
	
	<h5 class="text-error">LOCATION_OF_NEED</h5>
	This should be the exactly the location of your need. It can be an address or a known place, such as an hospital.<br>
	<b>Example:</b> #istanbul #bilgi #ne Ilker Inanc #nerede <b>sisli etfal hastanesi</b> #ekstra arkadasimi ariyorum.
	
	<h5 class="text-error">AMOUNT</h5>
	This should be the exactly the amount of your need. This field is optional.<br>
	<b>Example:</b> #istanbul #kan #ne A RH+ #nerede taksim kizilay #adet <b>100 unite</b>
	
	<h5 class="text-error">EXTRA_INFO</h5>
	This should be the extra information you want to give about your need.<br>
	<b>Example:</b> #istanbul #akut #ne vinc #nerede rumeli hisarustu #adet 1 #ekstra <b>ayrica vinc operatoru de lazim!</b>
</div>
<div>
	<h2>To reply to the system please use one of the following syntaxes:</h2>
	<h4 class="text-info">CASE 1: If some amount of your request has been solved </h4>	
	<b>SYNTAX: #cozuldu #adet AMOUNT_SOLVED</b> <br>
	Following example tells the system your need was met in the amount of 200 units.<br>
	<b>Example:</b> #cozuldu #adet 200 <br>
	<b>Note:</b> If you reply in that format, your request's status will turn from <b class="text-error">"Not solved"</b> to <b class="text-warning">"Being Solved"</b>
	
	<h4 class="text-info">CASE 2: If all amount of your request has been solved </h4>	
	<b>SYNTAX: #cozuldu</b> <br>
	You only need to reply to the system with this hashtag.<br>
	<b>Note:</b> If you reply in that format, your request's status will turn from <b class="text-error">"Not solved"</b> or <b class="text-warning">"Being Solved"</b> to <b class="text-success">"Solved"</b>

	<h4 class="text-info">CASE 3: If your request has not been solved yet </h4>	
	<b>SYNTAX: #cozulmedi</b> <br>
	This will tell the system your request has not been solved yet. <br>
	<b>Note:</b> If you reply in that format, your request's status will turn to <b class="text-error">"Not solved"</b>
</div>
