<div>
	<h2>How system works?</h2>
	<ol>
		<li>You tweet your request according to the proper <%= link_to "syntax", how_to_tweet_path %></li>
		<li>System receives your request and replies to your tweet on Twitter, confirming that system received your request</li>
		<ul>
			<li>If not, then it means there has been a problem. Please tweet the same request again.</li>
		</ul>
		<li>You reply to the system and tell the system about the situation of your request</li>
	</ol>

	<h2>Some examples</h2>
	<h3>Example 1</h3>
	<ol>
		<li>You tweet the following:</li>
		<blockquote class="twitter-tweet"><p><a href="https://twitter.com/search/%23istanbul">#istanbul</a> <a href="https://twitter.com/search/%23akut">#akut</a> <a href="https://twitter.com/search/%23ne">#ne</a> arama kurtarma kopegi <a href="https://twitter.com/search/%23nerede">#nerede</a> istanbul universitesi <a href="https://twitter.com/search/%23adet">#adet</a> 2</p>&mdash; Ilker Inanc (@ilkerdeneme) <a href="https://twitter.com/ilkerdeneme/status/289696881389486080" data-datetime="2013-01-11T11:34:53+00:00">January 11, 2013</a></blockquote>
		<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

		<li>System replies to you as follows</li>
		<blockquote class="twitter-tweet" data-in-reply-to="289696881389486080"><p>@<a href="https://twitter.com/ilkerdeneme">ilkerdeneme</a> "arama kurtarma kopegi" isteginizi aldik. Isteginiz cozulurse bu tweeti <a href="https://twitter.com/search/%23cozuldu">#cozuldu</a> hashtagiyle yanitlayin. ID:9028</p>&mdash; Emergentweet (@emergentweet_tw) <a href="https://twitter.com/emergentweet_tw/status/289696895557840897" data-datetime="2013-01-11T11:34:56+00:00">January 11, 2013</a></blockquote>
		<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

		<li>Your request is listed in the system as follows</li>
		<%= image_tag("images/listing1.png", :alt => "Listing") %>

		<li>You reply to the system as follows</li>
		<blockquote class="twitter-tweet" data-in-reply-to="289696895557840897"><p>@<a href="https://twitter.com/emergentweet_tw">emergentweet_tw</a> <a href="https://twitter.com/search/%23cozuldu">#cozuldu</a> COK TESEKKURLER!</p>&mdash; Ilker Inanc (@ilkerdeneme) <a href="https://twitter.com/ilkerdeneme/status/289698153505120257" data-datetime="2013-01-11T11:39:56+00:00">January 11, 2013</a></blockquote>
		<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

		<li>Your request's status turn from "Not Solved" to "Solved"</li>
		<%= image_tag("images/listing2.png", :alt => "Listing") %>
	</ol>
	
</div>